header{
    background: #128ced;
}

.fa-search{
    right: 30px;
    top: 12px;
    color: #128ced;
    font-size: 20px;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}

.dropdown-menu{
    display: none;
}

#dog:hover ~ .pet-drop-dog
{
    display: block;
}

.pet-drop-dog:hover{
    display: block;
}

.img-dog-size{
    border-bottom-right-radius: 5px;
}

#cat:hover ~ .pet-drop-cat
{
    display: block;
}

.pet-drop-cat:hover{
    display: block;
}

.img-cat-size{
    border-bottom-right-radius: 5px;
    height: 528px;
}

#fish:hover ~ .pet-drop-fish
{
    display: block;
}

.pet-drop-fish:hover{
    display: block;
}

.img-fish{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#bird:hover ~ .pet-drop-bird
{
    display: block;
}

.pet-drop-bird:hover{
    display: block;
}

.img-bird-size{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#small-pet:hover ~ .pet-drop-small-pet
{
    display: block;
}

.pet-drop-small-pet:hover{
    display: block;
}

.img-small-pet-size{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#reptile:hover ~ .pet-drop-reptile
{
    display: block;
}

.pet-drop-reptile:hover{
    display: block;
}

.img-reptile-size{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#horse:hover ~ .pet-drop-horse
{
    display: block;
}

.pet-drop-horse:hover{
    display: block;
}

.img-horse-size{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#pharmacy:hover ~ .pet-drop-pharmacy
{
    display: block;
}

.pet-drop-pharmacy:hover{
    display: block;
}

.img-pharmacy-size{
    height: 528px;
    border-bottom-right-radius: 5px;
}

#menu1{
    width: 370px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.fa-comments{
    font-size: 30px;
}
#menu2{
    width: 235px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.custom{
    font-size: 1rem;
    border-bottom: 1px solid #dadada;
}

.link{
    color: #128ced;
}

.get-help{
    font-size: 1.1rem;
}

.number-phone{
    font-size: 1.8em;
    font-weight: 600;
    color: #ef6c00;
}

.chat, .contact{
    font-size: 1.1rem;
}
.contact{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.fa-envelope{
    font-size: 30px;
}

.chat{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.track-faq-shipping{
    font-size: 1.1rem;
}

#navbarDropdown1, #navbarDropdown2, #navbarDropdown3{
    background-color:  #128ced;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

#navbarDropdown1:hover{
    background-color: #0d7ed4;
}
#navbarDropdown2:hover{
    background-color: #0d7ed4;
}
#navbarDropdown3:hover{
    background-color: #0d7ed4;
}

#button-sign-in{
    background-color: #ef6c00;
    font-weight: 600;
}
#button-sign-in:hover{
    background-color: #c15000;
}

.fa-shopping-cart{
    right: 5px;
    font-size: 21px;
}

.number{
    right: 1px;
    bottom: 11px;
    background-color: yellow;
    width: 15px;
    height: 20px;
}

.fa-angle-down{
    color: #f8d71c; 
    font-size: 21px;
}
#angle1::after{
    content: " ";
    width: 1px;
    height: 45px;
    background-color: #41a3f1;
    position: absolute;
    top: 0;
    right: 0;
}
#angle2::after{
    content: " ";
    width: 1px;
    height: 45px;
    background-color: #41a3f1;
    position: absolute;
    top: 0;
    right: 0;
}

#menu-account{
    line-height: 3;
}

#menu3{
    width: 350px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.empty{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;
}

.dropdownMenuButtonShop{
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #128ced; 
}

.dropdownMenuButtonShop:hover{
    background-color: #0d7ed4;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 3px 5px rgba(0,0,0,.6);
}

.dropdownMenuButtonPharmacy:hover{
    background-color: #0d7ed4;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 3px 5px rgba(0,0,0,.6);   
}


.pharmacy-shop{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

.dropdownMenuButtonShop1:hover{
    color: #0d7ed4;
}

.fa-angle-right{
    bottom: 14px;
    right: 15px;
}

#angle-shop{
    font-weight: 600;
    font-size: 25px;
}

.btn-header-bottom{
    background-color: #128ced;
}

.btn-header-bottom:hover{
    background-color: #0d7ed4;
}

.btn-header-bottom-right:hover{
    background-color: #0d7ed4;
}

.drop-pet{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgba(245,245,245);
    border-left: 1px solid #555;
}

.menu-bottom{
    font-size: 1.7rem;
    font-weight: 400;
    color: #555;
}
.menu-bottom:hover{
    font-weight: 500;
}

.btn-light:hover{
    background-color: #fff;
}

.dog-link:hover{
    border-bottom: 1px solid #0e70be;
    color: #0e70be;
}

.dog-link{
    border-bottom: 1px solid #ddd;
    color: #0e70be;
}

.brand{
    color: #0e70be;
}

.link-shop-dog:hover{
    color: #0e70be;
    text-decoration: underline;
}

.link-shop-dog{
    color: #0e70be;
}

.menu-bottom:hover{
    color: #0e70be;
}

.link-shop{
    font-weight: 500;
    font-size: 1.2rem;
}

.link-shop2{
    color: #f8d71c;
    font-weight: 500;
    font-size: 1.1rem;
}

.link-shop2:hover{
    text-decoration: none;
    color: #f8d71c;
}

.first-list{
    margin-right: 20px;
    padding-top: 10px;
}

.first-list1{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
}

.first-list-cat{
    padding-bottom: 20px;
}

.first-list-bird{
    padding-bottom: 50px;
}

.first-list-small-pet{
    padding-bottom: 50px;
}

.first-list-reptile{
    padding-bottom: 50px
}

.first-list-horse{
    padding-bottom: 65px;
}

.class-dog{
    padding-left: 0px;
    font-size: 1rem;
}
.class-dog:hover{
    color: #0e70be;
}

.sign{
    color: #0e70be;
    font-weight: 600;
    font-size: 1.1rem;
}

.fa-truck{
    color: #fff;
    font-size: 25px;
}
.dropdown-item{
    background-color: transparent;
    
}
.dropdown-item:hover{
    background-color: transparent;
}

.liink:hover{
    color: #128ced;
}

.cw-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.logo-list{
    list-style-type: none;
    padding-left: 0px; 
}
